label[for$="-project_name"]{
    display: none;
}

.delete-row{
    margin-top: 2%;
    margin-bottom: 1%;
}

.mb-4, .my-4 {
    margin-bottom: 2.4rem!important;
}

.Project_button{
    text-align: center;
    border: 1px solid;
    padding: .4rem .75rem;
    border-radius: .25rem;
    text-decoration: none!important;
    margin-left: 3px;
    color: #808080;
}

.Project_button:hover {
  color: #FFFFFF;
  background-color: #808080;
}

.link-formset{
    margin-bottom: 0.5rem;
}
