{% extends "WebApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="getting-started">
            <h2 class="getting-started-header">Getting Started</h2>
            <div class="get-started-info">
                    <h3 class="get-started-info-header" id="Introduction">
                        Introduction
                    </h3>
                    <div class="get-started-info-content">
                        Welcome to the 3rd party Mock system! The Solution offers creation of projects that make use of RESTful interfaces to help you mock current integrated systems of the OpenAPI system. These interfaces enable engineers and developers to continue with their work when these systems are not available or existing yet. Examples of systems that can be mocked:
                        <ul class="get-started-info-content">
                          <li>G2</li>
                          <li>USSD Push</li>
                          <li>Any integration making use of APIs</li>
                        </ul>
                    </div>
                    <h3 class="get-started-info-header" id="Project">
                        Adding a project
                    </h3>
                    <div class="get-started-info-content">
                        Before starting to configure the RESTful APIs with its given endpoint (context), the first step is to create a project that will contain all the config. An example of this will be to create a USSD push project that will contain all the markets interfaces and endpoints. From the project screen you can access the Specs, Defects and Results pages. These pages are all bound to the project that was created.
                    </div>
                    <h3 class="get-started-info-header" id="Specs">
                        Adding specs to a project
                    </h3>
                    <div class="get-started-info-content">
                        Access the spec page by clicking on the spec button under your created project. The spec page consists of a form with multiple inputs namely: <br>
                        <ul class="get-started-info-content">
                          <li> <b>Endpoint &#8594; </b> Specify the endpoint that will be used to send mock requests to. This endpoint will get additional info added to it namely the /user_id/project_id/.</li>
                          <li> <b>Async button &#8594;</b> Click on the async button if you want to mock an async request. You will need to specify some additional information in the form after activating the async functionality. The result URL, time before results is sent to URL and lastly the async result body in the json spec section.</li>
                          <li> <b>Json spec &#8594;</b> consists of a json nested array that contains a list with combination of requests, responses, response http status codes and lastly an async results if the async functionality is activated, otherwise it will only take 3 entries. Use &quot;?&quot; to add dynamic variable mapping from the request that came in on the endpoint right through the spec.</li>
                        </ul>
                        The response sent to the endpoint will be linked to the mapped requests. The matching response, response http status code and async result response (if async functionality is active) will be used to respond to the request.<br><br>
                        Please see example of spec mapped below for a json request, making use of dynamic variables. The same concept will be applied for xml or xml and json mixed request and response mappings.<br><br>
                        <div class="code-section">
                            <div class="code-section-header-top">request received</div>
                            {<br>
    "input_Amount": "0.36",<br>
    "input_Country": "GHA",<br>
    "input_Currency": "GHS",<br>
    "input_PrimaryPartyCode": "151516",<br>
    "input_ReceiverPartyCode": "13",<br>
    "input_ThirdPartyConversationID": "18",<br>
    "input_TransactionReference": "cpt80960034356",<br>
    "input_PurchasedItemsDesc": "Shoes"<br>
}<br><br>
                            <div class="code-section-header">request mapped</div>
                            [[{<br>
        "input_Amount": "0.36",<br>
        "input_Country": "GHA",<br>
        "input_Currency": "GHS",<br>
        "input_PrimaryPartyCode": "151515",<br>
        "input_ReceiverPartyCode": "?1",<br>
        "input_ThirdPartyConversationID": "?2",<br>
        "input_TransactionReference": "cpt80960034356",<br>
        "input_PurchasedItemsDesc": "Shoes"<br>
    },{<br>
        "output_ResponseCode": "INS-0",<br>
        "output_ResponseDesc": "Success",<br>
        "output_TransactionID": "?1",<br>
        "output_ConversationID": "?2",<br>
        "output_ThirdPartyConversationID": "?2"<br>
    },200,{<br>
        "input_OriginalConversationID": "5b28bbba9e7a420d93b47813d11ba080",<br>
        "input_TransactionID": "?1",<br>
        "input_ResultCode": "?1",<br>
        "input_ResultDesc": "resultMain.res:ResultDesc",<br>
        "input_ThirdPartyConversationID": "?2",<br>
        "input_ResponseTransactionStatus": "Null"<br>
}],[{<br>
        "input_Amount": "0.36",<br>
        "input_Country": "GHA",<br>
        "input_Currency": "GHS",<br>
        "input_PrimaryPartyCode": "151516",<br>
        "input_ReceiverPartyCode": "?1",<br>
        "input_ThirdPartyConversationID": "?2",<br>
        "input_TransactionReference": "cpt80960034356",<br>
        "input_PurchasedItemsDesc": "Shoes"<br>
    },{<br>
        "output_ResponseCode": "INS-0",<br>
        "output_ResponseDesc": "Failed",<br>
        "output_TransactionID": "?1",<br>
        "output_ConversationID": "?2",<br>
        "output_ThirdPartyConversationID": "?2"<br>
    },200,{<br>
        "input_OriginalConversationID": "5b28bbba9e7a420d93b47813d11ba080",<br>
        "input_TransactionID": "?1",<br>
        "input_ResultCode": "?1",<br>
        "input_ResultDesc": "resultMain.res:ResultDesc",<br>
        "input_ThirdPartyConversationID": "?2",<br>
        "input_ResponseTransactionStatus": "Null"<br>
}]]<br><br>
                            <div class="code-section-header">response sent</div>
                            {<br>
        "output_ResponseCode": "INS-0",<br>
        "output_ResponseDesc": "Failed",<br>
        "output_TransactionID": "13",<br>
        "output_ConversationID": "18",<br>
        "output_ThirdPartyConversationID": 18"<br>
    }<br><br>
                            <div class="code-section-header">result sent</div>
                            {<br>
        "input_OriginalConversationID": "5b28bbba9e7a420d93b47813d11ba080",<br>
        "input_TransactionID": "13",<br>
        "input_ResultCode": "13",<br>
        "input_ResultDesc": "resultMain.res:ResultDesc",<br>
        "input_ThirdPartyConversationID": "18",<br>
        "input_ResponseTransactionStatus": "Null"<br>
}
                        </div>
                    </div>
                    <h3 class="get-started-info-header" id="Results">
                        Checking results on endpoints
                    </h3>
                    <div class="get-started-info-content">
                        Access the Results page by clicking on the Results button under your created project. The Results page consists of the following information of the most resent request sent to a given endpoint:
                        <ul class="get-started-info-content">
                          <li> A status banner</li>
                            <ul class="get-started-info-content">
                              <li> Green if the request matched any of the mapped requests.</li>
                              <li> Red if the request does not match any of the mapped requests.</li>
                            </ul>
                          <li> The endpoint that was created on the spec page.</li>
                          <li> The request that came in last and the mapped request that it matched with or all the mapped request it did not match with.</li>
                        </ul>
                    </div>
                    <h3 class="get-started-info-header" id="Defects">
                        Add defect functionality on endpoint
                    </h3>
                    <div class="get-started-info-content">
                        Access the Defects page by clicking on the Defects button under your created project. The Defects page consists of the following information and inputs:
                        <ul class="get-started-info-content">
                          <li> The endpoint that was created on the spec page.</li>
                          <li> Connection down function, when activated the endpoint will be switched off and requests won’t be able to get through. This will mock network connection issues.</li>
                          <li> Intermittent connection issues, when activated you need to specify the percentage of times the system should be down. The endpoint will be switched off given the % passed and will sometimes be active and sometimes be inactive. This will mock intermittent network connection issues.</li>
                        </ul>
                    </div>

            </div>
            <div class="get-started-index">
                        <a href="#Introduction" class="index-content">Introduction</a>
                        <a href="#Project" class="index-content">Adding a project</a>
                        <a href="#Specs" class="index-content">Adding specs</a>
                        <a href="#Results" class="index-content">Checking results</a>
                        <a href="#Defects" class="index-content">Add defects</a>
            </div>
        </div>
    </div>
{% endblock content %}