{% extends "WebApp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'WebApp/project.css' %}">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>

<div>
    {% if messages %}
        {%for message in messages%}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Add or change projects below:
            </legend>
            <div>
                {{ formset.management_form }}
                {% for info in formset %}
                <div class="link-formset">
                    {{ info|crispy }}
                        <a class="Project_button" href="{% url 'WebApp-specs' %}?project={{ info.id.value }}">Specs</a>
                        <a class="Project_button" href="{% url 'WebApp-defects' %}?project={{ info.id.value }}">Defects</a>
                        <a class="Project_button" href="{% url 'WebApp-results' %}?project={{ info.id.value }}">Results</a>
                </div>
                {% endfor %}

          </div>
        </fieldset>
             <script>
                $('.link-formset').formset({
                    addText: '+',
                    deleteText: '-',
                    addCssClass: 'btn btn-outline add-row'
                    })
             </script>

        <div class="form-group">

        <button class = "btn btn-outline-info" type="submit">
                submit
        </button>
        </div>
    </form>
  <!-- FORM HERE -->
</div>
{% endblock content %}